# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.hgignore
node_modules
.c9
.DS_Store
Thumbs.db

# C/C++
*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.exe
*.out
*.app
install_manifest.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Python
*.py[cod]
.installed.cfg
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml

# Ruby
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
**.orig
rerun.txt
pickle-email-*.html
*.gem
*.rbc
.bundle
.config
InstalledFiles
spec/reports
test/tmp
test/version_tmp
.yardoc
_yardoc
